@import "~bootstrap/scss/bootstrap";

a {
    display: flex;
}

.section {
    display: flex;
    flex-wrap: wrap;
}

.container {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    margin: 5px;
}

.picture {
    height: 500px;
}